.venv
llm_caller/src/llm_caller.egg-info
pyjdoctor/data/input/*
pyjdoctor/data/output/*
pyjdoctor/src/PyJDoctor.egg-info
se_helpers/src/se_helpers.egg-info
__pycache__/
*.py[cod]
.idea/
.vscode/
.DS_Store
llmedico/data/jars/javaparser-core-3.27.1.jar
llmedico/data/jars/sources.txt
llmedico/src/llmedico.egg-info
llmedico/data/
llmedico/src/llmedico/log.txt
