.venv
llm_caller/src/llm_caller.egg-info
pyjdoctor/data/input/*
pyjdoctor/data/output/*
pyjdoctor/src/PyJDoctor.egg-info
se_helpers/src/se_helpers.egg-info
__pycache__/
*.py[cod]
.idea/
.vscode/
.DS_Store


llmedico/src/llmedico.egg-info
llmedico/data/input/*
llmedico/data/output/*

llmedico/tests/data/output/*
llmedico/src/llmedico/log.txt


pyrandoop/data/input/*
pyrandoop/data/jars/*
pyrandoop/data/output/*
pyrandoop/src/PyRandoop.egg-info

llmedico/src/llmedico/org/
/org


